<table class="table table-hover table-inverse">
  <% if @range == "User" %>
    <tbody>
        <tr>
	        <h3>Users search for "<%= @word %>"</h3>
        </tr>
      <%= render"users/index",users: @users%>
    </tbody>
  <% else %>
    <tbody>
        <tr>
          <h3>Books search for "<%= @word %>"</h3>
        </tr>
      <%= render"books/index",books: @books%>
    </tbody>
  <% end %>
</table>